## [AuthServer .gitignore]
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/
.vs/
**/.vs/
.idea/
**/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.user
*.userprefs
*.userosscache
*.suo
*.sln.docstates
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
appsettings.Production.json
appsettings.*.Production.json
appsettings.Local.json
appsettings.*.Local.json
appsettings.*.local.json
secrets.json
*.secret.json
*UserSecrets*
.env
.env.*
*.env
*.env.*
*.pfx
*.p12
*.pem
*.key
*.crt
*.cer
*.der
*.pkcs12
*.rsa
TestResults/
*.log

